<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.signin_signup">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.SignIn_SignUp">

        <!-- LoginActivity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"> <!-- Use true if it should be accessible from other apps -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="signupsignin-306bf.web.app"
                    android:scheme="https" />
            </intent-filter>
        </activity>


        <!-- HomeActivity (Launcher) -->
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.SignIn_SignUp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginSuccessActivity -->
        <activity
            android:name=".LoginSuccessActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.SignIn_SignUp"
            android:exported="false" />

        <!-- SignUpActivity -->
        <activity
            android:name=".SignUpActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.SignIn_SignUp"
            android:exported="false" />

        <!-- ForgotPasswordActivity -->


        <!-- AddOrEditNoteActivity -->
        <activity
            android:name=".AddOrEditNoteActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.SignIn_SignUp"
            android:exported="true" />  <!-- Changed exported to true -->

        <!-- ManageNotesActivity -->
        <activity
            android:name=".ManageNotesActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.SignIn_SignUp"
            android:exported="true" />


        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.SignIn_SignUp"
            android:exported="true" />

        <activity
            android:name=".optActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.SignIn_SignUp"
            android:exported="true" />




    </application>
</manifest>
